<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<meta charset="utf-8">
 	<title>тест</title>
</head>
<body>
	<div class="page-header">
	  <h1>Заметки<small>, добавить:</small></h1>
	</div>
	<div class="jumbotron">
		<div class="container" ng-app="mainApp" ng-controller="mainController">
		  
		  <form>
		    <div class="form-group">
		      <div class="input-group">
		        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
		        <input type="text" class="form-control" placeholder="Поиск" ng-model="search">
		      </div>      
		    </div>
		  </form>
		  
		  <table class="table table-bordered">
		    
		    <thead>
		      <tr>
		        <td>
		          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
		            Имя 
		            <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"></span>
		            <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
		          </a>
		        </td>
		        <td>
		          <a href="#" ng-click="sortType = 'address'; sortReverse = !sortReverse">
		          	Адрес
		            <span ng-show="sortType == 'address' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"></span>
		            <span ng-show="sortType == 'address' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
		          </a>
		        </td>
		        <td>
		          <a href="#" ng-click="sortType = 'telephone'; sortReverse = !sortReverse">
		          	Телефон
		            <span ng-show="sortType == 'telephone' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"></span>
		            <span ng-show="sortType == 'telephone' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
		          </a>
		        </td>
		      	<td><span class="glyphicon glyphicon-list-alt"></span></td>
		      </tr>
		    </thead>
		    
		    <tbody>
		      <tr ng-repeat="(num, ind) in table | orderBy:sortType:sortReverse | filter:search" ng-style="{ backgroundColor: getColor(num) }">
		        <td>{{ ind.name }}</td>
		        <td>{{ ind.address }}</td>
		        <td>{{ ind.telephone }}</td>
		        <td><span ng-click="checkNum(num)" class="btn btn-default">{{ textCheck(num) }} </span></td>
		      </tr>
		    </tbody>
		    
		  </table>
		 
		</div>
	</div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="./main.js"></script>
</body>
</html>