* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  line-height: 1.42857143;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga','kern';
}
#main {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.showed {
  display: block;
}

.hidden {
  display: none;
}

.clearfix {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

::-webkit-scrollbar {
  width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 3px;
  border-radius: 3px;
  // &:hover {
  //   background: #E9EFF2;
  // }
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  // background: #369AD5; 
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  background: #E9EFF2;
  // &:hover {
  //   background: #3599d3;
  // }
}
// ::-webkit-scrollbar-thumb:window-inactive {
//   // background: #E9EFF2;
// }
