@import url(/node_modules/bootstrap/dist/css/bootstrap.css);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 100%;
  line-height: 1.42857143;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
}
#main {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.showed {
  display: block;
}
.hidden {
  display: none;
}
.clearfix {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #E9EFF2;
}
.row {
  overflow: auto;
}
